<div class="container">

   <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
   <li><%= current_user.first_name %></li>
   <li><%= current_user.last_name %></li>
   <li><%= current_user.email %></li>
   <%= link_to "Mettre à jour", edit_user_path(current_user) %>
   <%= link_to "Effacer", edit_user_path(current_user) %>
   <%= link_to "Mes meetings", meeting_path(current_user) %>
   <%= link_to "J'ai trouvé!", new_item_path %>
   <%= link_to "Mes objets", item_path(current_user) %>
</div>
