


<div class="user-show">
  <div class="user-show-photo">
   <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
   <div class="buttons">
     <%= link_to "Mettre à jour", edit_user_path(current_user), class: "btn btn-primary" %>
     <br>
     <%= link_to "Mes meetings", meeting_path(current_user), class: "btn btn-primary" %>
     <br>
     <%= link_to "J'ai trouvé!", new_item_path, class: "btn btn-primary" %>
     <br>
   </div>
 </div>

 <div class="user-details">
  <div class="tabs">
    <a class="tab active" href="#">
      <h3>350</h3>
      <p>Followers</p>
    </a>
    <a class="tab" href="#">
      <h3>456</h3>
      <p>Following</p>
    </a>
    <a class="tab" href="#">
      <h3>189</h3>
      <p>Upvoted</p>
    </a>
    <a class="tab" href="#">
      <h3>13</h3>
      <p>Submitted</p>
    </a>
  </div>

  <div class="user-show-details">
    <h3>Nom</h3>
    <%= current_user.first_name %>
    <h3>Nom de Famille</h3>
    <%= current_user.last_name %>
    <h3>Email</h3>
    <%= current_user.email %>
  </div>
</div>
</div>
