
<div class="user-show">
  <div class="user-left-side-profile">
    <%= cl_image_tag current_user.photo, height: 200, width: 200, crop: :fill, class: "user-show-photo" %>
    <div class="user-profile-name">
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
      <p><%= current_user.email %></p>
    </div>
  </div>
   <div class="user-details">
    <div class="tabs">
      <div class="tab active" data-section="items">
        <h3>Objets</h3>
      </div>
      <div class="tab" data-section="meetings">
        <h3>Meetings</h3>
      </div>
    </div>
    <div class="user-show-details" data-section="items">
      <%= render 'shared/user_item_index' %>
    </div>
    <div class="user-show-details hidden" data-section="meetings">
      <%= render 'shared/user_meetings' %>
    </div>
  </div>
</div>
