<div class="items-content">
  <% @user_items.each do |item| %>
    <%= cl_image_tag item.photo, height: 200, width: 200, crop: :fill, class: "user-show-photo" %>
    <div class="card-header">
      <h2 class="card-category">
        <%= link_to item.name, item_path(item) %>
      </h2>
      <div class="card-description text-left">
        <p> <%= item.category %></p>
        <p> <%= item.location %> - <%= item.date_found %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
