
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 50%), url(<%= image_path('https://images.unsplash.com/reserve/7MWItPwYTzOaKwG6SYLl_O14A0436.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e9b725a98d12ba2e669aeb7e72edb42c&auto=format&fit=crop&w=1500&q=80')%>);">
<div class="banner-content">
  <h1>OuKiLélé</h1>
  <p>Vous avez perdu un objet ? On vous aide à le retrouver!</p>
    <!-- Search Bar -->
  <div class = "search-bar">
    <i class="fas fa-search" id = "search-magnifier">  </i>
        <%= form_tag items_path, method: :get, class: "form-inline" do %>
          <div class="form-group">
            <%= select_tag :query_category,
              options_for_select(["Bijoux", "Électronique", "Papiers d'identité", "Peluche", "Vêtements",  "Divers"], params[:query_category]),
              include_blank: "Catégorie",
              class: "form-control"
            %>
          </div >
          <!-- div class="form-group">
            <%= text_field_tag :name,
              params[:name],
              class: "form-control"
            %>
          </div> -->
          <div class="form-group">
            <%= text_field_tag :query_location,
              params[:query_location],
              class: "form-control",
              id: "item_location",
              placeholder: "Où avez-vous perdu cet objet?"
            %>
          </div>
         <!--  <div class="form-group">
            <%= text_field_tag :query_date,
              params[:query_date],
              class: "form-control",
              placeholder: "Quand avez-vous perdu cet objet?",
              input_html: {type: :date}
            %>
          </div> -->
        <button type="submit" class = "btn btn-info"> Trouver mon objet! </button>
      <% end %>
  </div>
</div>
</div>

<div class = "wrapper">

    <div class = "row" style= "padding: 20px; font-family: $body-font; font-weight: bold; text-align: center;">
      <h3> Ils adorent Oukilélé </h3>
    </div>

  <div class = "container">

<div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
    <div class="img-avatar">
      <%= cl_image_tag 'oh3giav72bjmx3biz3xs.jpg', width: 300, crop: :fill, class: "d-block w-full"  %>
    </div>

  <div class="px-2 py-2">
    <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
      > Marion Beaufrère</p>
      <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
        J'ai retrouvé mon chien grâce à OuKiLélé </h1>
    <p class="mb-1">
      J'étais desespérée car cela faisait 1 semaine que mon chien était parti. En 3h, quelqu'un m'a contacté pour me dire que mon chien était sain et sauf. Merci
    </p>
  </div>
</div>

<div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
    <div class="img-avatar">
    <%= cl_image_tag 'oh3giav72bjmx3biz3xs.jpg', width: 300, crop: :fill, class: "d-block w-full"  %>
    </div>

  <div class="px-2 py-2">
    <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
      > Alex Deval</p>
      <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
        Sans OuKiLélé, je serais morte </h1>
    <p class="mb-1">
      OuKiLéLé c'est vraiment la meilleure plateforme du monde.
    </p>
  </div>
</div>

<div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
    <div class="img-avatar">
    <%= cl_image_tag 'oh3giav72bjmx3biz3xs.jpg', width: 300, crop: :fill, class: "d-block w-full"  %>
    </div>

  <div class="px-2 py-2">
    <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
      > Tom Vaillant</p>
      <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
        J'ai trouvé l'amour grâce à OuKiLélé</h1>
    <p class="mb-1">
      Je cherchais mes clés, j'ai trouvé l'amour à la place.
    </p>
  </div>
</div>

</div>
</div>







