<div class="item-show">
  <div class="item-show-photo">
    <%= cl_image_tag @item.photo, height: 300, width: 400, crop: :fill %>
    <div class="buttons">
      <button type="button" id="set-meeting" class="btn btn-primary">Meeting</button>
      <% @dispos.each do |dispo| %>
      <br>
        <%= dispo.start_date %>
        <br>
        <%= dispo.end_date %>
        <br>
      <% end %>
      <br>
      <% if policy(@item).update? %>
      <%= link_to "Ajouter des disponibilités pour rendre l'objet", new_item_dispo_path(@item), class: "btn btn-success" %>
      <% end %>
      <br>
      <%= link_to "Retourner à la liste", items_path, class: "btn btn-success" %>
      <br>
      <% if policy(@item).update? %>
      <%= link_to "Mettre à jour l'objet", edit_item_path(@item.id), class: "btn btn-primary" %>
      <% end %>
      <br>
      <% if policy(@item).destroy? %>
      <%= link_to "Effacer cet objet", item_path(@item.id),
      method: :delete,
      data: { confirm: "Voulez-vous vraiment effacer cet objet ?" },
      class: "btn btn-danger", id: "sweet-alert-demo" %>
      <% end %>

      <%= render 'shared/modal' %>
    </div>
  </div>
  <div class="item-show-details">
    <h3>Nom</h3>
    <%= @item.name %>
    <br>
    <h3>Catégorie</h3>
    <%= @item.category %>
    <br>
    <h3>Description</h3>
    <%= @item.description %>
    <br>
    <h3>Date où l'objet a été trouvé</h3>
    <%= Date.parse(@item.date_found).strftime('%d-%m-%Y') %>
    <br>
    <h3>Lieu</h3>
    <%= @item.location %>
  </div>
</div>
