
<div class="item-show">
  <div class="item-show-photo">
    <%= cl_image_tag @item.photo, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="item-show-details">
       <li><%= @item.name %></li>
       <li><%= @item.category %></li>
       <li><%= @item.name %></li>
       <li><%= @item.description %></li>
       <li><%= Date.parse(@item.date_found).strftime('%d-%m-%Y') %></li>
       <li><%= @item.location %></li>
  </div>
</div>
<div class="container">
  <%= link_to "Retourner à la liste", items_path, class: "btn btn-success" %>
  <%= link_to "Mettre à jour l'objet", edit_item_path(@item.id), class: "btn btn-primary" %>
  <%= link_to "Effacer cet objet", item_path(@item.id),
      method: :delete,
      data: { confirm: "Voulez-vous vraiment effacer cet objet ?" },
      class: "btn btn-danger", id: "sweet-alert-demo" %>
</div>
